footer.footer.footer--blog
    .footer__row
        .footer__col.footer__col--left
            nav.menu
                ul.menu__list
                    li.menu__item: a.menu__link(href="works.html") Мои работы
                    li.menu__item: a.menu__link(href="about.html") Обо мне
                    li.menu__item: a.menu__link(href="blog.html") Блог
                    li.menu__item: a.menu__link(href="index.html") Авторизация 
        .footer__col.footer__col--right
            ul.socials__list
                li.socials__item.socials__item--black: a.socials__link(href="https://www.vk.com/" target="blanc")
                    svg.socials__icon--black: use(xlink:href="assets/images/sprite.svg#vk_round")
                li.socials__item.socials__item--black: a.start__page_soc-link(href="https://www.github.com/" target="blanc")
                    svg.socials__icon--black: use(xlink:href="assets/images/sprite.svg#github_round")
                li.socials__item.socials__item--black: a.start__page_soc-link(href="https://www.linkedin.com/" target="blanc")
                    svg.socials__icon--black: use(xlink:href="assets/images/sprite.svg#in_round")
    .footer__row
        .footer__col.footer__col--left
            .footer__text
                p Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.      
        .footer__col.footer__col--right
            .start__copy--f Владимир Астахов | создано с любовью в LoftSchool | 2016