.full-m#fullMenu
    .full-m__left
    .full-m__right
    nav.full-m__nav#full-m__nav
        ul.full-m__nav-list
            li.full-m__nav-item: a.full-m__nav-link(href="works.html") Мои работы
            li.full-m__nav-item: a.full-m__nav-link(href="blog.html") Блог
            li.full-m__nav-item: a.full-m__nav-link(href="about.html") Обо мне
            li.full-m__nav-item: a.full-m__nav-link(href="index.html") Авторизация