section.section.hero
    .socials--hero
        ul.socials__list
            li.socials__item: a.socials__link(href="https://www.vk.com/")
                svg.socials__icon--white: use(xlink:href="assets/images/sprite.svg#vk")
            li.socials__item: a.socials__link(href="https://www.vk.com/")
                svg.socials__icon--white: use(xlink:href="assets/images/sprite.svg#github")
            li.socials__item: a.socials__link(href="https://www.vk.com/")
                svg.socials__icon--white: use(xlink:href="assets/images/sprite.svg#in") 
    button(type="button").hamburger#openFull
        .hero__menu
    .hero__title
        svg.section__title-desc: use(xlink:href="./assets/images/sprite.svg#portfolio_header")
    .user
        .user__img
            img.user__img-pic(style="background-image: url('./assets/images/photo-about.jpg')")
        .user__name Владимир Астахов
        .user__desc Личный сайт разработчика
    button.hero__down(type="button")
        svg.down-arrow: use(xlink:href="assets/images/sprite.svg#arrow_down")