extends ../template

block variables
    - var title = 'Welcome'

block content
    .wrapper
        .preloader
            .preloader__spinner
                .preloader__animation
                .preloader__percents 0%
        include ../common/parallax.pug
        h1.visuallyhidden Главная
        .start
            .start__login-btn: a.login__btn-link#login(href="#") Авторизоваться
            .flip
                .start__page
                    .start__page-info
                        .start__page-photo(style="background-image: url('./assets/images/photo.png')")
                        .start__page-name Владимир Астахов
                        .start__page-desk Личный сайт веб разработчика
                        .socials
                            ul.socials__list
                                li.socials__item: a.socials__link(href="https://www.vk.com/")
                                    svg.socials__icon: use(xlink:href="assets/images/sprite.svg#vk")
                                li.socials__item: a.socials__link(href="https://www.github.com/")
                                    svg.socials__icon: use(xlink:href="assets/images/sprite.svg#github")
                                li.socials__item: a.socials__link(href="https://www.linkedin.com/")
                                    svg.socials__icon: use(xlink:href="assets/images/sprite.svg#in")
                        .nav-menu: ul.nav-menu__list
                            li.nav-menu__item: a.nav-menu__link(href="works.html") Мои работы
                            li.nav-menu__item: a.nav-menu__link(href="about.html") Обо мне
                            li.nav-menu__item: a.nav-menu__link(href="blog.html") Блог
                    form.login
                        h2.login__title Авторизуйтесь
                        .login__form
                            .login__form-icon
                                svg.login__form-pic: use(xlink:href="assets/images/sprite.svg#login")
                            label.visuallyhidden Логин
                            input(type="text" name="login" placeholder="Логин").login__form-type
                        .login__form
                            .login__form-icon
                                svg.login__form-pic: use(xlink:href="assets/images/sprite.svg#password")
                                label.visuallyhidden Пароль
                            input(type="text" name="password" placeholder="Пароль").login__form-type
                        .login__form-human
                            label.login__form-block
                                input(type="checkbox" name="human").login__form-check.visuallyhidden
                                .login__form-fake
                                .login__form-text Я человек
                        .login__form-desk Вы точно не робот?
                        .login__form-row
                            label.login__form-y
                                input(type="radio" name="options" value="да").login__form-r.visuallyhidden
                                .login__form-radio-fake
                                .login__form-t Да
                            label.login__form-n
                                input(type="radio" name="options" value="нет").login__form-r.visuallyhidden
                                .login__form-radio-fake
                                .login__form-t Не уверен
                        .login__form-menu: ul.login__form-list
                            li.login__form-item: a.login__form-link#toMain(href="#") На главную
                            li.login__form-item: a.login__form-link(href="#") Войти
            .start__copy Владимир Астахов | создано с любовью в LoftSchool | 2016
                                        

        

