extends ../template

block variables
    - var title = 'My works'

block content
    .wrapper
        h1.visuallyhidden Мои работы
        include ../common/section-hero.pug
        section.p-works
            include ../common/triangle.pug
            .p-works__title
                svg.p-works__title-desk: use(xlink:href="assets/images/sprite.svg#works_header")
                .p-works__title-b
                    h2.block-title-b Мои работы 
        section.section.works
            .works-left
                .works-left__title
                    .block-title__w Сайт школы онлайн
                    .block-title__w1 образования
                .works-left__tech HTML, CSS, JAVASCRIPT
                button.works-left__btn(type="button")
                    svg.works-left__btn-icon: use(xlink:href="assets/images/sprite.svg#link")
                    span.works-left__btn-text Посмотреть сайт
            .works-right
                .works-right__slider
                    .works-right__slider-item1: img.works-right__slider-pic1(src="./assets/images/item1.png")
                    .works-right__slider-item2
                        .works-right__slider-pic2
                            button.slider-down(type="button")
                                svg.slider-down__works: use(xlink:href="assets/images/sprite.svg#arrow_down")
                    .works-right__slider-item3
                        .works-right__slider-pic3
                            button.slider-down(type="button")
                                svg.slider-down__works: use(xlink:href="assets/images/sprite.svg#arrow_down")
        section.a-works
            .a-works__title
                svg.a-works__title-desk: use(xlink:href="assets/images/sprite.svg#about_header")
                .a-works__title-b
                    h2.block-title-a Что обо мне говорят
        section.section.reviews
            .reviews__content
                .reviews__info
                    .reviews__icon: img(src="./assets/images/quot.png")
                    .reviews__text
                        p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    .reviews__user
                        .reviews__user-pic(style="background-image: url('./assets/images/photo-about.jpg')")
                        .reviews__user-info
                            .reviews__user-info-name Ковальчук Дмитрий
                            .reviews__user-info-pos основатель Loftschool
                .reviews__info--r
                    .reviews__icon: img(src="./assets/images/quot.png")
                    .reviews__text
                        p Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                    .reviews__user
                        .reviews__user-pic(style="background-image: url('./assets/images/photo-about.jpg')")
                        .reviews__user-info
                            .reviews__user-info-name Сабанцев Владимир
                            .reviews__user-info-pos преподаватель
            .reviews__form.form
                .form-desk
                    .form-desk__title
                        h3.block-title-form Связаться со мной
                    .form-desk__row
                        label.visuallyhidden  Имя
                        input.form-desk__row-b(type="text" name="name" placeholder="Имя")
                    .form-desk__row
                        label.visuallyhidden  Email
                        input.form-desk__row-b(type="text" name="email" placeholder="Email")
                    .form-desk__mes
                        label.visuallyhidden  Ваше сообщение
                        textarea.form-desk__mes-b(name="message" placeholder="Ваше сообщение")
                .form-btns
                    .form-btns__item
                        button.form-btns__submit(type="submit") Отправить
                    .form-btns__item
                        button.form-btns__delete(type="reset") Очистить
        include ../common/footer-works.pug 
