.a-works {
    position: relative;
    background-color: #fff;
    height: 205px;
    width: 100%;
}

.a-works__title {
    text-align: center;
}

.a-works__title-desk {
    width: 500px;
    height: 170px;
    fill: #f0eee7;
    margin-top: 15px;
}

.a-works__title-b {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 380px;
    transform: translate(-50%, -50%);
    font-family: 'BERNIER';
    font-size: 63px;
    color: #455a64;
    text-align: center;
    line-height: 1;
}