.blog-nav {
    background-color: #fff;
    padding-top: 70px;
    display: flex;
    flex-direction: row;

    @include tablets {
        padding-top: 10px;
    }
}

.blog-nav__list {
    width: 33%;
    display: flex;
    justify-content: flex-end;

    @include tablets {
        width: 0;
    }
}

.blog-nav__items {
    width: 270px;
    padding-right: 20px;
    position: relative;
}

.blog-nav__item {
    text-align: right;
    padding: 15px;
    transition: .3s;
    border-right: 3px solid transparent;
    cursor: pointer;

    &:hover {
        border-right: 3px solid #00bfa5;
    }

    &:hover .blog-nav__link {
        color: #00bfa5;
        font-weight: 450;
    }
}

/*.blog-nav__item.active {
    border-right: 3px solid #00bfa5;
}*/

.blog-nav__link {
    font-family: 'Roboto';
    font-size: 16px;
    color: #373e42;
    text-decoration: none;
    line-height: 1.42;
}

.main-blog {
    width: 67%;
    margin-left: 100px;

    @include tablets {
        margin-left: 0;
        width: 90%;
        margin: 0 auto;
    }

    @include phones {
        width: 93%;
    }
}

.main-blog__items {
    max-width: 680px;
}

.main-blog__item {
    padding-bottom: 50px;
    margin-bottom: 60px;
    border-bottom: 5px solid rgba(55,62,66,.07);

    &:last-child {
        border-bottom: none;
    }

    @include phones {
        padding-bottom: 25px;
        margin-bottom: 25px;
    }
}

.main-blog__title {
    font-family: 'BERNIER';
    font-size: 35px;
    color: #455a64;
    font-weight: normal;
    margin: 0;
    margin-bottom: 10px;

    @include phones {
        font-size: 21px;
    }
}

.main-blog__date {
    font-family: 'Roboto';
    font-size: 16px;
    color: #00bfa5;
    text-decoration: none;
    line-height: 1.42;
    font-weight: 400;
    margin-bottom: 20px;

    @include phones {
        font-size: 14px;
    }
}

.main-blog__content {
    font-family: 'Roboto';
    font-size: 16px;
    color: #373e42;
    text-decoration: none;
    line-height: 1.42;

    @include phones {
        font-size: 14px;
    }
}