.footer__map {
    width: 100%;
    height: 147px;
    background: rgba($color: #373e42, $alpha: 0.7);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(300% - 147px);    
}
.footer__works {
    width: 100%;
    height: 147px;
    background: rgba($color: #373e42, $alpha: 0.7);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(400% - 88px);
}

.footer__blog {
    width: 100%;
    height: 147px;
    background: rgba($color: #373e42, $alpha: 0.7);
    display: flex;
    flex-direction: column;
    position: absolute;
}

.footer__row {
    display: flex;
    flex-direction: row;
    height: 50%;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);

    &:last-child {
        border-bottom: none;
    }
}

.footer__col.footer__col-left {
    width: 50%;
}

.menu {
    height: 100%;
    padding-left: 10px;
}

.menu__list {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu__item {
    display: inline-block;
    padding: 0 20px;
}

.menu__link {
    text-decoration: none;
    color: #fff;
    transition: .3s;

    &:hover {
        color: #00bfa5;
    }
}

.start__page_soc-items--f {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.start__page_soc-item--f {
    margin-right: 10px;
}

.start__page_soc-icon--f {
    height: 36px;
    width: 36px;
    display: inline-block;
    vertical-align: middle;
    fill: rgba($color: #373e42, $alpha: 0.5);
    stroke-width: 0.5px;
    stroke: rgba($color: #fff, $alpha: 0.8);
    transition: .3s;

    &:hover {
        fill: #fff;
    }
}

.footer__col.footer__col-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__text {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
    color: rgba($color: #fff, $alpha: 0.4);
    margin-left: 30px;
}

.start__copy--f {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
    color: rgba($color: #fff, $alpha: 0.4);
    margin-right: 30px;
}