.full-m {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.full-m.active {
    
    .full-m__left {
        transform: translateX(100%);
    }

    .full-m__right {
        transform: translateX(-100%);
    }
}

.full-m__left {
    height: 100%;
    width: 50%;
    background-color: rgba($color: #20c6af, $alpha: 0.8);
    position: fixed;
    left: -50%;
    transition: .5s;
}

.full-m__right {
    height: 100%;
    width: 50%;
    background-color: rgba($color: #20c6af, $alpha: 0.8);
    position: fixed;
    right: -50%;
    transition: .5s;
}

.full-m__nav {
    position: fixed;
    right: 50%;
    transform: translate(50%, -100%);
    transition: .2s;
}

.full-m__nav.active {
    transform: translate(50%, 10%);
}

.full-m__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    position: relative;

    @include phones {
        padding-top: 35%;
    }
}

.full-m__nav-item {
    margin-bottom: 30px;
    position: relative;
    width: 300px;
    text-align: center;
}

.full-m__nav-link {
    text-decoration: none;
    font-family: 'BERNIER';
    font-size: 35px;
    font-weight: normal;
    color: #fff;
    text-align: center;

    &:before {
        content: '';
        background: #fff;
        height: 5px;
        width: 0px;
        border-radius: 1px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        -webkit-transition: opacity 300ms;
        transition: width .5s;

        @include tablets {
            width: 22px;
        }

        @include phones {
            width: 22px;
        }
    }

    &:after {
        content: '';
        background: #fff;
        height: 5px;
        width: 0px;
        border-radius: 1px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        -webkit-transition: opacity 300ms;
        transition: width .5s;

        @include tablets {
            width: 22px;
        }

        @include phones {
            width: 22px;
        }
    }

    &:hover {
        &:after {
            width: 22px;
        }

        &:before {
            width: 22px;
        }
    }
}