.start {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__btn-link {
    border: 1px #fff solid;
    padding: 17px 28px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.42;
    position: absolute;
    top: 25px;
    right: 100px;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: #fff;
        color: #00bfa5;
    }
}

.start__page {
    height: 395px;
    width: 380px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.start__page-info {
    background-color: rgba($color: #fff, $alpha: 0.7);
    width: 100%;
    height: 350px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    //display: none;
}

.start__page-photo {
    height: 141px;
    width: 141px;
    margin: 0 auto;
    margin-top: 40px;
}

.start__page-name {
    text-align: center;
    margin-top: 15px;
    font-size: 28px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #455a64;
}

.start__page-desk {
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: normal;
    color: #455a64;
    margin-top: 10px;
}

.start__page_soc {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.start__page_soc-items {
    display: flex;
    height: 100%;
}

.start__page_soc-item {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}    

.start__page_soc-icon {
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    fill: rgba($color: #009688, $alpha: 0.8);
    transition: .3s;

    &:hover {
        fill: rgba($color: #04796e, $alpha: 0.8);
    }
}

.start__page_menu {
    width: 100%;
    height: 45px;
    position: absolute;
    bottom: 0;
    //display: none;
}

.start__page_menu-items {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.start__page_menu-item {
    background-color: rgba($color: #009688, $alpha: 0.8);
    height: 100%;
    display: flex;
    transition: .3s;
    
    &:first-child {
        border-bottom-left-radius: 5px;
    }

    &:last-child {
        border-bottom-right-radius: 5px;
    }

    &:hover {
        background-color: rgba($color: #04796e, $alpha: 0.8);
    }

    &:after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 45px;
        background-color: rgba($color: #fff, $alpha: 0.8);
    }

    &:last-child:after {
        opacity: 0;
    }
}

.start__page_menu-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 1.42;
    padding: 12px 31px;
}


.start__copy {
    position: absolute;
    bottom: 43px;
    color: #d5d7d9;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 300;
}

.start__page_log {
    display: none;
    background-color: rgba($color: #fff, $alpha: 0.8);
    width: 100%;
    height: 350px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.start__page_log-title {
    font-family: 'BERNIER';
    font-size: 35px;
    font-weight: normal;
    color: #455a64;
    text-align: center;
    //padding-top: 10px;

    &:before {
        content: '';
        background: rgba($color: #373e42, $alpha: 0.5);
        height: 5px;
        width: 22px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
    }

    &:after {
        content: '';
        background: rgba($color: #373e42, $alpha: 0.5);
        height: 5px;
        width: 22px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
    }
}

.start__page_log-form {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.start__page_log-icon {
    height: 45px;
    width: 45px;
    background-color: #f0efe9;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__page_log-pic {
    height: 17px;
    width: 17px;
    fill: #c4cbcd;
}

.start__page_log-in {
    height: 45px;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 70%;
    border: none;
    padding: 0 20px;
}

.start__page_log-menu {
    width: 100%;
    height: 45px;
    position: absolute;
    bottom: 0;
    display: none;
}

.start__page_log-items {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.start__page_log-item {
    background-color: rgba($color: #009688, $alpha: 0.8);
    height: 100%;
    display: flex;
    transition: .3s;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &:last-child {
    border-bottom-left-radius: 0;
    }

    &:hover {
        background-color: rgba($color: #04796e, $alpha: 0.8);
    }

    &:after {
        content: '';
        display: inline-block;
        width: 2px;
        height: 45px;
        background-color: rgba($color: #fff, $alpha: 0.7);
    }

    &:last-child:after {
        display: none;
    }
}

.start__page_log-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 1.42;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.start__page_log-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.start__page_log-check {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.start__page_log-fake {
    height: 20px;
    width: 20px;
    background-color: #00bfa5;
    border-radius: 3px;
    margin-right: 10px;
}

.start__page_log-check:checked + .start__page_log-fake:after{
    content: "\2714";
    font-size: 16px;
    color: #fff;
    padding-left: 4px;
}

.start__page_log-text {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #717f86;
}

.start__page_log-desk {
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: bold;
    color: #6e7d84;
    padding-bottom: 12px;
}

.start__page_log-row {
    display: flex;
    justify-content: center;
}

label.start__page_log-y {
    display: inline-block;
    margin-left: 4px;
}

.start__page_log-r {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.start__page_radio-fake {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    position: relative;
    background-color: #fff;

    &:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
        background-color: #00bfa5;
        border-radius: 50%;
        display: none;
    }
}

.start__page_log-r:checked + .start__page_radio-fake:after{
    display: inline-block;
}

.start__page_log-r:checked ~ .start__page_log-t {
    color: #2ec7b2;
}

.start__page_log-t {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: normal;
    color: #717f86;
    display: inline-block;
}

.start__page_log-n {
    margin-left: 50px;
}