.start {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablets {
        background-image: url('../images/bg-tablets.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    @include phones {
        background-image: url('../images/bg-phones.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

.login__btn-link {
    border: 1px #fff solid;
    padding: 17px 28px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.42;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: #fff;
        color: #00bfa5;
    }

    @include phones {
        right: 50%;
        transform: translateX(50%);
        font-size: 14px;
    }
}

.flip {
    -webkit-perspective: 1200;
    perspective: 1200;
    -moz-transform: perspective(1200px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d; 
    transform-style: preserve-3d;
}

.start__page {
    height: 350px;
    width: 380px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .7s linear;
    -moz-transition: .7s linear;
    -o-transition: .7s linear;
    transition: .7s linear;

    @include phones {
        width: 300px;
    }
}

.start__page.active {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.start__page-info {
    background-color: rgba($color: #fff, $alpha: 0.7);
    width: 100%;
    height: 350px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.start__page-photo {
    height: 141px;
    width: 141px;
    margin: 0 auto;
    margin-top: 40px;
}

.start__page-name {
    text-align: center;
    margin-top: 15px;
    font-size: 28px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #455a64;

    @include phones {
        font-size: 21px;
    }
}

.start__page-desk {
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: normal;
    color: #455a64;
    margin-top: 10px;

    @include phones {
        font-size: 14px;
    }
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.socials__list {
    display: flex;
    height: 100%;
}

.socials__item {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}    

.socials__icon {
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    fill: rgba($color: #009688, $alpha: 0.6);
    transition: .3s;

    &:hover {
        fill: rgba($color: #04796e, $alpha: 0.9);
    }
}

.nav-menu {
    width: 100%;
    position: absolute;
    top: 100%;
    display: flex;
    //display: none;
}

.nav-menu__list {
    display: flex;
    min-height: 45px;
    width: 100%;
}

.nav-menu__item {
    background-color: rgba($color: #009688, $alpha: 0.8);
    height: 100%;
    display: flex;
    transition: .3s;
    flex-grow: 1;
    border-right: 2px solid rgba($color: #fff, $alpha: 0.5);
    
    &:first-child {
        border-bottom-left-radius: 5px;
    }

    &:last-child {
        border-bottom-right-radius: 5px;
        border-right: none;
    }

    &:hover {
        background-color: rgba($color: #04796e, $alpha: 0.8);
    }
}

.nav-menu__link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 1.42;
    padding: 12px 29px;

    @include phones {
        font-size: 14px;
        padding: 12px 21px;
    }
}


.start__copy {
    position: absolute;
    bottom: 43px;
    color: #d5d7d9;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 300;

    @include phones {
        width: 80%;
        text-align: center;
        bottom: 10px;
    }
}

// форма авторизации

.login {
    background-color: rgba($color: #fff, $alpha: 0.8);
    width: 100%;
    height: 350px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.login__title {
    font-family: 'BERNIER';
    font-size: 35px;
    font-weight: normal;
    color: #455a64;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 10px;

    &:before {
        content: '';
        background: rgba($color: #373e42, $alpha: 0.5);
        height: 5px;
        width: 22px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
    }

    &:after {
        content: '';
        background: rgba($color: #373e42, $alpha: 0.5);
        height: 5px;
        width: 22px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
    }
}

.login__form {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.login__form-icon {
    height: 45px;
    width: 45px;
    background-color: #f0efe9;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__form-pic {
    height: 17px;
    width: 17px;
    fill: #c4cbcd;
}

.login__form-type {
    height: 45px;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 70%;
    border: none;
    padding: 0 20px;
}

.login__form-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.login__form-check {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.login__form-fake {
    height: 20px;
    width: 20px;
    background-color: #00bfa5;
    border-radius: 3px;
    margin-right: 10px;
}

.login__form-check:checked + .login__form-fake:after{
    content: "\2714";
    font-size: 16px;
    color: #fff;
    padding-left: 4px;
}

.login__form-text {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #717f86;
}

.login__form-desk {
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: bold;
    color: #6e7d84;
    padding-bottom: 12px;
}

.login__form-row {
    display: flex;
    justify-content: center;
}

.login__form-y {
    display: inline-block;
    margin-left: 4px;
}

.login__form-r {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.login__form-radio-fake {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    position: relative;
    background-color: #fff;

    &:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
        background-color: #00bfa5;
        border-radius: 50%;
        display: none;
    }
}

.login__form-r:checked + .login__form-radio-fake:after{
    display: inline-block;
}

.login__form-r:checked ~ .login__form-t {
    color: #2ec7b2;
}

.login__form-t {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: normal;
    color: #717f86;
    display: inline-block;
}

.login__form-n {
    margin-left: 50px;
}

.login__form-menu {
    width: 100%;
    min-height: 45px;
    position: absolute;
    top: 100%;
}

.login__form-list {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.login__form-item {
    background-color: rgba($color: #009688, $alpha: 0.8);
    height: 100%;
    display: flex;
    transition: .3s;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 2px solid rgba($color: #fff, $alpha: 0.5);
    flex-grow: 1;

    &:last-child {
    border-bottom-left-radius: 0;
    border-right: none;
    }

    &:first-child {
        border-bottom-right-radius: 0;
    }

    &:hover {
        background-color: rgba($color: #04796e, $alpha: 0.8);
    }
}

.login__form-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 1.42;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px 29px;
}