.p-works {
    position: relative;
    background-color: #faf8f0;
    height: 185px;

    @include tablets {
        height: 30%;
    }
}

.triangle-w {
    position: absolute;
    bottom: 100%;
    fill: #faf8f0;
}

.p-works__title {
    text-align: center;
}

.p-works__title-desk {
    width: 500px;
    height: 170px;
    fill: #f0eee7;
}

.block-title-b {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 380px;
    transform: translate(-50%, -50%);
    font-family: 'BERNIER';
    font-size: 63px;
    color: #455a64;
    text-align: center;

    &:before {
        content: '';
        background: rgba($color: #373e42, $alpha: 0.5);
        height: 5px;
        width: 22px;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        left: 0px;
        top: 40px;
    }

    &:after {
        content: '';
        background: rgba($color: #373e42, $alpha: 0.5);
        height: 5px;
        width: 22px;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        right: 0;
        bottom: 40px;
    }
}