.works {
    height: 100%;
    background-color: #efebe0;
    position: relative;
}

.slider {
    position: relative;
    height: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    width: 90%;
    margin: 0 auto;
}

.slider-item {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablets {
        flex-direction: column;
        justify-content: center;
    }
}

.slider-item.active {
    opacity: 1;
    z-index: 2;
}

.slider-item__img {
    width: 45%;
    height: 80%;
    text-align: center;

    @include tablets {
        width: 60%;
        padding-top: 10%;
    }

    @include phones {
        width: 80%;
        height: 70%;
    }
}

.slider-item__pic {
    width: 80%;
    height: auto;
}

.slider-item__info {
    width: 45%;

    @include tablets {
        width: 70%;
        height: 50%;
        order: -10;
        padding-top: 10%;
    }

    @include phones {
        width: 80%;
        padding-top: 10%;
        order: -10;
    }
}

.slider-item__title {
    text-align: start;
    margin-bottom: 40px;
    
    @include tablets {
        text-align: center;    
    }
}

.block-title__w {
    font-family: 'BERNIER';
    font-size: 35px;
    color: #455a64;
    
    @include phones {
        font-size: 21px;        
    }
}

.block-title__w1 {
    font-family: 'BERNIER';
    font-size: 35px;
    color: #455a64;
    text-align: start;

    @include tablets {
        text-align: center;    
    }

    @include phones {
        font-size: 21px;        
    }
}

.slider-item__tech {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    color: #00bfa5;
    width: 100%;
    height: 54px;
    border-top: 1px solid #00bfa5;
    border-bottom: 1px solid #00bfa5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    @include tablets {
        margin: 0px 0px 40px 0px;
        width: 100%;
    }

    @include phones {
        font-size: 14px;
        width: 100%;
        height: 32px;
        margin: 0px 0px 40px 0px;
    }
}

.slider-item__btn {
    padding: 13px 18px;
    background-color: #00bfa5;
    border: initial;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    transition: .3s;

    &:hover {
        background-color: #fff;
        color: #00bfa5;
    }

    @include tablets {
        margin: 0 auto;
    }

    @include phones {
        font-size: 14px;        
    }
}

.slider-item__btn:hover .slider-item__btn-icon {
    fill: #00bfa5;
}

.slider-item__btn-icon {
    height: 19px;
    width: 21px;
    fill: #fff;
    margin-right: 10px;
}

.slider__controls-prev {
    width: 40px;
    height: 35px;
    position: absolute;
    bottom: 50%;
    background: none;
    border: initial;
    cursor: pointer;
    z-index: 10;
    transform: rotate(90deg);

    &:hover .slider__controls-pic {
        fill: rgba($color: #00bfa5, $alpha: 1.0);
    }
}

.slider__controls-next {
    width: 40px;
    height: 35px;
    position: absolute;
    bottom: 50%;
    right: 0;
    background: none;
    border: initial;
    cursor: pointer;
    z-index: 10;
    transform: rotate(-90deg);

    &:hover .slider__controls-pic {
        fill: rgba($color: #00bfa5, $alpha: 1.0);
    }
}

.slider__controls-pic  {
    height: 95%;
    width: 100%;
    fill: rgba($color: #00bfa5, $alpha: 0.6);
    z-index: 10;
    transition: .3s;
}

.markers {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.markers__list {
    display: flex;
    flex-direction: row;
}

.markers__item {
    display: flex;
    margin-right: 21px;
    
    &:last-child {
        margin-right: 0;
    }
}

.markers__link {
    height: 11px;
    width: 11px;
    background: #fff;
    border: 2px solid #00bfa5;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    transition: .3s;

    &:hover {
        background: #00bfa5;
    }
}