.works {
    display: flex;
}

.works-left {
    width: 50%;
    background-color: #f0efe9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.works-left__title {
    margin-bottom: 40px;
}

.block-title-w {
    font-family: 'BERNIER';
    font-size: 35px;
    color: #455a64;

    &:before {
        content: '';
        background: rgba($color: #373e42, $alpha: 0.5);
        height: 5px;
        width: 22px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 35px;
    }

    &:after {
        content: '';
        background: rgba($color: #373e42, $alpha: 0.5);
        height: 5px;
        width: 22px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 35px;
    }
}

.block-title-w1 {
    font-family: 'BERNIER';
    font-size: 35px;
    color: #455a64;
    text-align: center;
}

.works-left__tech {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    color: #00bfa5;
    width: 420px;
    height: 54px;
    border-top: 1px solid #00bfa5;
    border-bottom: 1px solid #00bfa5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.works-left__btn {
    padding: 13px 18px;
    background-color: #00bfa5;
    border: initial;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    transition: .3s;

    &:hover {
        background-color: #fff;
        color: #00bfa5;
    }
}

.works-left__btn:hover .works-left__btn_icon {
    fill: #00bfa5;
}

.works-left__btn_icon {
    height: 19px;
    width: 21px;
    fill: #fff;
    margin-right: 10px;
}

.works-right {
    width: 50%;
    background-color: #efebe0;
}

.works-right__slider {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.works-right__slider-pic1 {
    width: 70%;
    display: flex;
    margin: 0 auto;
    margin-top: 15%;
}

.works-right__slider-item1 {
    height: 70%;
    width: 100%;
}

.works-right__slider-item2 {
    height: 30%;
    width: 50%;
    background-image: url(../images/item2.png);
    background-size: cover;
    background-position: center center;
}

.works-right__slider-pic2 {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    height: 100%;
}

.hero__down--works {
    background: none;
    border: initial;
    cursor: pointer;
}

.down-arrow--works {
    height: 27px;
    width: 43px;
    fill: #fff;
}


.works-right__slider-item3 {
    height: 30%;
    width: 50%;
    background-image: url(../images/item3.png);
    background-size: cover;
    background-position: center center;
}

.works-right__slider-pic3 {
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
}

